.heritage-bg {
  animation: gradientBG 8s ease-in-out infinite;
  background: linear-gradient(270deg, #e5dbbc);
  background-size: 800% 800%;
}

@keyframes gradientBG {
  0% {background-position:0% 50%}
  50% {background-position:100% 50%}
  100% {background-position:0% 50%}
}

.heritage-container{
  background-color: #e5dbbc;
}